
@bgColor: rgb(39, 43, 48);
@gameBGColor: rgb(112, 197, 206);

@gameEm: 10px;
@gameRatio: 4/3;
@gameWidth: 48.0em;

*, :before, :after {
	box-sizing: border-box;
}

/*------------------------------------------
	Main components
------------------------------------------*/

body {
	margin: 0;
	overflow: hidden;
	background-color: @bgColor;
	color: white;
}

h1 {
	letter-spacing: 0.3em;
}

#game {
	font-family: 'Sarpanch', sans-serif;
	text-align: center;
	cursor: pointer;
	user-select: none;
	font-size: @gameEm;
	position: relative;
	overflow: hidden;
	width: @gameWidth;
	height: @gameWidth * @gameRatio;
	background-image: linear-gradient(to top, #70C5CE 0%, #70C5CE 60%, #3A666B 100%);
	background-color: @gameBGColor;
}

/*------------------------------------------
	Bird
------------------------------------------*/

@birdOutlineC: rgb(83, 56, 70);
@birdStrokeSize: 0.35em;

#bird {
	.absPos(0; 0; 4.8em; 4em);
	z-index: 100;

	border: @birdStrokeSize solid @birdOutlineC;
	border-radius: 50%;
	background: linear-gradient(to bottom, #ffbf27 0%, #ffbf27 30%, #e48116 100%);

	.eye {
		.absPos(2.4em; 0.2em; 2.2em; 2.0em);
		border-radius: 40% 60% 0;
		border: @birdStrokeSize solid @birdOutlineC;
		background-color: white;

		&:after {
			content: '';
			.absPos(0.8em; 0.4em; 0.4em; 0.7em);
			border-radius: 50%;
			background-color: black;
		}
	}

	.mouth {
		.absPos(2.0em; 1.8em; 3.2em; 1.6em);
		border-radius: 50% 50% 80% 50%;
		border: @birdStrokeSize solid @birdOutlineC;
		background-color: rgb(234, 80, 64);


		&:after {
			content: '';
			.absPos(0.5em; 0.3em; 2.2em; 0.3em);
			border-radius: 50% 0 0 50%;
			background-color: @birdOutlineC;
		}
	}

	.wings {
		.absPos(-0.2em; 1.4em; 2.4em; 1.6em);
		border-radius: 0 0 40% 40%;
		background-color: rgb(221, 226, 177);
		border: @birdStrokeSize solid @birdOutlineC;

		transform-origin: top center;
		transform: rotateX(60deg);
	}

	/* STATES */

	&.floating {
		animation: floating 0.8s infinite;
		//Resize fix
		&.fix {
			animation: none;
			transform: translate3d(20em, 25em, 0) !important;
		}
	}

	&.flying {
		.wings {
			animation: flapping 0.35s infinite;
		}
	}
}

@keyframes flapping {
	0%   { transform: rotateX(60deg) }
	40%  { transform: rotateX(-160deg) }
	90%  { transform: rotateX(40deg) }
	100% { transform: rotateX(60deg) }
}

@keyframes floating {
	0%  { transform: translate3d(20em, 25em, 0) }
	50% { transform: translate3d(20em, 26.4em, 0) }
	to  { transform: translate3d(20em, 25em, 0) }
}

/*------------------------------------------
	Game GUI
------------------------------------------*/

.gui {
	.scoreBox {
		.absPos(42%; 15%; 16%; 0);
	}

	.icon-sound {
		position: absolute;
		z-index: 150;
		right: 1em;
		bottom: 1em;
		width: 2.6em;
		font-size: 1.35em;

		padding: 0.1em 0.3em;
		border: 0.15em solid;
		border-radius: 0.4em;
		background-image: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.25) 100%);
		background-color: #FFF;
		text-align: left;
		color: #000;

		transition: background-color 0.25s;

		&:hover {
			background-color: #6F0;
		}
	}
}

#score {
	display: none;
	position: absolute;
	z-index: 110;
	width: 100%;
	font-size: 5em;
	font-weight: 900;
	line-height: 0;
	.text-stroke(0.05em, rgb(69, 69, 69));
}

/*------------------------------------------
	Game objects
------------------------------------------*/

@outlineC: rgb(83, 56, 70);
@stoneC: rgb(222, 216, 149);
@grassC: rgb(115, 191, 46);
@groundHeight: 8.0em;

#ground {
	.absPos(0; auto; @gameWidth + 4em; 8.0em);
	bottom: 0;
	z-index: 120;
	border-top: 0.35em solid @outlineC;
	background-color: @stoneC;

	animation: groundslide 0.2s infinite; //15em per sec
	animation-timing-function: linear;

	&.stop {
		animation: none;
	}

	&:after {
		content: '';
		.absPos(0; 0; @gameWidth + 4em; 1.6em);
		background: linear-gradient(125deg,
									@grassC 0%, @grassC 30%,
									lighten(@grassC, 15%) 40%,
									lighten(@grassC, 15%) 65%,
									@grassC 75%, @grassC 100%);
		background-size: 3em 2em;
    	background-repeat: repeat-x;
		border-bottom: 0.4em solid darken(@grassC, 15%);
		box-shadow: 0 0.4em 0 rgba(0, 0, 0, 0.3);
	}
}

@keyframes groundslide {
	0% { transform: translateX(0) }
	to { transform: translateX(-6.25%) }
}

@pipeC: rgb(115, 190, 46);
@pipeGap: 15em;
@pipeHeight: 40em;

.pipeSet {
	position: absolute;
	z-index: 20;
	height: 100%;
	top: 20em;

	.pipe {
		.absPos(-10em; @pipeGap; 8em; @pipeHeight);
		z-index: 20;
		border-left: 0.35em solid @outlineC;
		border-right: 0.35em solid @outlineC;
		background: linear-gradient(to right,
									lighten(@pipeC, 25%) 0%,
									@pipeC 35%,
									@pipeC 65%,
									darken(@pipeC, 25%) 100%);
		animation: pipeslide 4s 1;
		animation-timing-function: linear;

		&:after {
			content: '';
			.absPos(-0.7em; 0; 8.8em; 4.0em);
			border: 0.35em solid @outlineC;
			background: linear-gradient(to right,
										lighten(@pipeC, 25%) 0%,
										@pipeC 25%,
										@pipeC 75%,
										darken(@pipeC, 25%) 100%);
		}

		&.stop {
			animation: none;
		}

		&.reverse {
			top: -@pipeHeight;

			&:after {
				top: auto;
				bottom: 0;
			}
		}
	}
}

@keyframes pipeslide {
	0% { transform: translateX(@gameWidth + 12em) }
	to { transform: translateX(0) }
}

/*------------------------------------------
	Background objects
------------------------------------------*/

@cloudwidth: 5.0em;
@cloudheight: 3.0em;
@cloudStroke: 0.6em;

.cloud {
	.absPos(-14em; auto; 0; 0);

	animation: cloudslide 30s 1;
	animation-timing-function: linear;

	.puff {
		position: relative;

		&:before, &:after {
			content: '';
			position: absolute;
			border-radius: 50%;
		}

		&:before {
			z-index: 10;
			width: @cloudwidth;
			height: @cloudheight;
			background-color: white;
		}

		&:after {
			z-index: 5;
			width: @cloudwidth + @cloudStroke;
			height: @cloudheight + @cloudStroke;
			background-color: rgb(69, 69, 69);
			left: -0.2em;
			top: -0.4em;
		}
	}
}

@keyframes cloudslide {
	0% { transform: translateX(@gameWidth + 14em) }
	to { transform: translateX(0) }
}

@houseC: rgb(200, 200, 200);
@windowC: rgb(150, 150, 150);
@houseStrokeC: rgb(150, 150, 150);

.house {
	.absPos(@gameWidth + 6em; auto; 5.6em; 10em);
	z-index: 10;
	bottom: @groundHeight;
	padding-left: 0.2em;
	background-color: @houseC;
	border: 0.35em solid @houseStrokeC;
	border-bottom: none;
	transition: transform 15s linear;

	&.slide {
		transform: translateX(-(@gameWidth + 12em));
	}

	&.stop {
		transition: none;
		transform: none;
	}

	&:after {
		content: '█ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █';
		color: @windowC;
		font-size: 0.8em;
		line-height: 0;
		letter-spacing: 0.2em;
		word-wrap: break-word;
	}

	&.type1 {
		width: 4.5em;
		height: 8.6em;
	}

	&.type2 {
		width: 5.5em;
		height: 5.2em;
	}

	&.type3 {
		width: 5.6em;
		height: 8em;

		&:before {
			content: '';
			.absPos(2.1em, -5em, 0, 0);
			border-style: solid;
			border-width: 0 0.5em 5em;
			border-color: transparent transparent #999;
		}
	}

	&.bg {
		z-index: 5;
		background-color: darken(@houseC, 5%);
		font-size: 0.9em;
	}
}

@keyframes houseslide {
	0% { transform: translateX(@gameWidth + 12em) }
	to { transform: translateX(0) }
}

/*------------------------------------------
	Menus
------------------------------------------*/

.menu {
	display: none;
	.absPos(10%, 10%, 80%, auto);
	z-index: 120;
	font-weight: 600;

	.title {
		font-size: 5em;
		font-weight: 900;
		white-space: nowrap;
		.text-stroke(0.06em, rgb(69, 69, 69));
	}

	.scoreboard {
		display: flex;
		justify-content: space-around;
		margin: 1em 0;

		.score {
			width: 8em;
			border-radius: 0.9em;
			background-color: rgb(60, 138, 206);
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25)100%);
			box-shadow: 0 0.3em 0.6em  rgba(0,0,0,0.5);
			padding: 0.8em 0;

			.number {
				font-size: 3em;
				line-height: 1em;
			}
		}
	}

	.buttons {
		display: flex;
		justify-content: space-around;
		.button {
			width: 15em;
			height: 3em;
			box-shadow: 0 0.3em 0.6em  rgba(0,0,0,0.5);
			border-radius: 0.5em;
			background-color: red;
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 100%);
			line-height: 3em;
			user-select: none;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover {
				background-color: rgb(10, 137, 19);
			}

			&:active {
				background-color: rgb(14, 197, 28);
				box-shadow: 0 0.3em 0.6em rgba(0,0,0,0);
				transition: background-color 0.2s;
			}
		}

	}
}


#gameover {
	top: 30%;

	.title {
		font-size: 4em;
	}
}

#mainMenu {
	.buttons {
		margin-top: 12.36em;
	}
}

/*------------------------------------------
	Flappy Trip
------------------------------------------*/

#game {
	&.trippy {
		animation: trippy 6s infinite linear;
		color: rgb(255, 255, 0);

		.pipeSet {
			animation: trippypipe 4s infinite linear;
		}

		.puff:before {
			background-color: rgb(255, 0, 255);
		}

		#houselayer {
			.house {
				background-color: rgb(0, 160, 160);

				&.bg {
					background-color: rgb(160, 0, 160);
				}
			}
		}

		#bird {
			.eye {
				background-color: black;
				&:after {
					.absPos(0.6em; 0.3em; 0.8em; 0.9em);
					background-color: white;
					animation: eyeshrink 2s infinite ease-in-out;
				}
			}
		}
	}
}

@keyframes trippy {
	0%  { filter: hue-rotate(0deg) invert(1) }
	to  { filter: hue-rotate(360deg) invert(1) }
}

@keyframes trippypipe {
	0%   { transform: translateY(-2em) }
	50%  { transform: translateY(4em) }
	100% { transform: translateY(-2em) }
}

@keyframes eyeshrink {
	0%  { transform: scale(0.8) }
	50% { transform: scale(1.1) }
	to  { transform: scale(0.8) }
}

/*------------------------------------------
	Usefull mixins
------------------------------------------*/

.absPos(@left; @top; @width; @height) {
	position: absolute;
	left: @left;
	top: @top;
	width: @width;
	height: @height;
}

.text-stroke(@width, @color: black) {
	text-shadow: @width 0 0 @color,
				 0 @width 0 @color,
				 -@width 0 0 @color,
				 0 -@width 0 @color,
				 @width @width 0 @color,
				 @width -@width 0 @color,
				 -@width @width 0 @color,
				 -@width -@width 0 @color;
}